<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:conf/redis/redis.properties" />

	<!-- 事实上，只需要连接1个节点就可以 -->
	<bean id="culster7000" class="redis.clients.jedis.HostAndPort">
		<constructor-arg name="host" value="192.168.3.178" />
		<constructor-arg name="port" value="7000" />
	</bean>
	<bean id="culster7001" class="redis.clients.jedis.HostAndPort">
		<constructor-arg name="host" value="192.168.3.178" />
		<constructor-arg name="port" value="7001" />
	</bean>
	<bean id="culster7002" class="redis.clients.jedis.HostAndPort">
		<constructor-arg name="host" value="192.168.3.178" />
		<constructor-arg name="port" value="7002" />
	</bean>
	<bean id="culster7003" class="redis.clients.jedis.HostAndPort">
		<constructor-arg name="host" value="192.168.3.177" />
		<constructor-arg name="port" value="7003" />
	</bean>
	<bean id="culster7004" class="redis.clients.jedis.HostAndPort">
		<constructor-arg name="host" value="192.168.3.177" />
		<constructor-arg name="port" value="7004" />
	</bean>
	<bean id="culster7005" class="redis.clients.jedis.HostAndPort">
		<constructor-arg name="host" value="192.168.3.177" />
		<constructor-arg name="port" value="7005" />
	</bean>
	
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${im.hs.server.redis.maxTotal}" />
		<property name="minIdle" value="${im.hs.server.redis.minIdle}" />
		<property name="maxWaitMillis" value="${im.hs.server.redis.maxWaitTime}" />
		<property name="maxIdle" value="${im.hs.server.redis.maxIdle}" />
		<property name="testOnBorrow" value="${im.hs.server.redis.testOnBorrow}" />
		<property name="testOnReturn" value="true" />
		<property name="testWhileIdle" value="true" />
	</bean>


	<bean id="jc" class="redis.clients.jedis.JedisCluster">
		<constructor-arg name="nodes">
			<set>
				<ref bean="culster7000" />
				<ref bean="culster7001" />
				<ref bean="culster7002" />
				<ref bean="culster7003" />
				<ref bean="culster7004" />
				<ref bean="culster7005" />
			</set>
		</constructor-arg>
		<constructor-arg name="poolConfig"> <ref bean="poolConfig" /> </constructor-arg>
	</bean>
	
	<bean id="distributedLock" class="com.taotaosou.lu.redis.demo.DistributedLockManger" />

	<context:annotation-config />
</beans>